html {
    height: 100%;
}

body {
    background: #2c3e50;
    color: #ECF0F1;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    margin: 0;
}

.btn-danger {
    background: #d9534f;
    background-image: none;
    border: none;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    text-decoration: none ! important;
    text-shadow: none;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
}

h1 {
    font-family: 'Lobster', cursive;
    /*    font-weight: 400;*/
    font-size: 50px;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

i[class*=fa-trash]::before {
    opacity: 0.75;
}

.panel {
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 2px;
    background-clip: padding-box;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}

.panel-default>.panel-heading {
    background-color: #27AE60;
}

.panel-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}


/* checkbox - each time slot */

.time-slot {}


/* hide the checkbox itself - the label will be styled */

.time-slot input {
    display: none;
}


/* default styling for our labels */

.time-slot label {
    padding: 10px 20px;
    color: #FFF;
    background: #EEE;
    border-radius: 5px;
    transition: 0.3s ease all;
}


/* if the label is checked */

.time-slot input:checked ~ label {
    background: #f2dede;
    cursor: not-allowed;
    animation: flashBooked 0.5s ease;
}


/* if the label is not checked */

.time-slot input:not(:checked) ~ label {
    /*
    background: #6AB074;
    animation: flashAvailable 0.5s ease;
*/
    background: #2ECC71;
    background-image: none;
    border: none;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    text-decoration: none ! important;
    text-shadow: none;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
}


/* animation for the time slot to flash red */

@keyframes flashBooked {
    0%,
    100% {
        background: #f2dede;
        transform: scale(1);
    }
    50% {
        background: #F99090;
        transform: scale(1.5);
    }
}


/* animation for the time slot to flash green */

@keyframes flashAvailable {
    0%,
    100% {
        background: #6AB074;
        transform: scale(1);
    }
    50% {
        background: rgb(119, 218, 78);
        transform: scale(1.5);
    }
}